<!DOCTYPE html>
<html lang="en">
<head>

     <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Status</title>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/getstatus">CBSLogistic</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/getstatus">Home</a></li>
      <li><a href="/article">Artikel</a></li>
      <li><a href="/supplier">Lieferanten</a></li>
      <li><a href="/getmatrix">Wer hat was?</a></li>
      <li><a href="/order">Bestellungen</a></li>
    </ul>
  </div>
</nav>

<div class="container">
        <form class="form-inline my-2 my-lg-0" action="/article/" method="post" enctype="multipart/form-data">
            {%csrf_token%}
                {{empty_form}}
                    <button type="submit" class="btn btn-success" name= "save">
                        <span class="glyphicon glyphicon-plus"></span> save
                    </button>
        </form>
</div>

<div class="container">
<h1> Artikelübersicht</h1>
<table class="table">
    <thead>
    <tr>
        <th>Artikelname</th>
        <th>Lagerplatz</th>
        <th>Bild</th>
    </tr>
    </thead>
    <tbody>
    {% for article in articles %}
    <tr>
        <td>{{article.label}}</td>
        <td>{{article.sensor_no}}</td>
        <td>
            {% if article.image %}
                <img src="{{article.image.url}}" width="120">
            {% endif %}
        </td>
        <td>
        <form action="/editarticle/" method="post">
        {%csrf_token%}
            <button type="submit" class="btn btn-warning btn-xs" name="edit" value="{{article.id}}">
                <span class="glyphicon glyphicon-pencil"></span> edit
            </button>
        </form>

        </td>
    </tr>

    {% endfor %}
    </tbody>
</table>
</div>
</body>
