<!DOCTYPE html>
<html lang="en">
<head>
     <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <meta charset="UTF-8">
    <title>{{supplier_edit.name}}</title>
</head>
<body>
<div class="container">
    <h1>{{supplier_edit.name}}</h1>
<form class="form-inline my-2 my-lg-0" action="/editsupplier/" method="post" enctype="multipart/form-data">
    {%csrf_token%}
    {{supplier_form}}
    <button type="submit" class="btn btn-success btn-xs" name="savechanges" value="{{supplier_edit.id}}">
        <span class="glyphicon glyphicon-pencil"></span> SAVE
    </button>
</div>
</body>
</html>