<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bucket</title>


</head>
<body>
<div class="container">
<h1>{{supplier.name}}</h1>
<table class="table">
    <thead>
    <tr>
        <th>Artikel</th>
        <th>Bestelleinheiten</th>
        <th>Preis pro Einheit</th>
        <th>Lieferant</th>
        <th>Anzahl</th>

    <tr>
    </thead>
    <tbody>
    {% for basket in baskets_unsaved %}
        <tr>
            <td>
                {{basket.detail.article}}
            </td>
            <td>
                {{basket.detail.order_min}}
            </td>
            <td>
                {{basket.detail.price}}
            </td>
            <td>
                {{basket.detail.supplier}}
            </td>
            <td>
                {{basket.quantity}}
            </td>
            <td>
                {{basket.confirmed}}
            </td>
            <td>
                <form class="form-inline my-2 my-lg-0" action="/getbucket/" method="post">
                    {%csrf_token%}
                    {{formy.quantity}}
                    <input type="hidden" name="supplier" value="{{supplier.id}}" />
                    <input type="hidden" name="detail" value="{{basket}}" />
                    <button type="submit" class="btn btn-success" name= "savequantity" value="{{basket.id}}">
                        <span class="glyphicon glyphicon-plus"></span> save
                    </button>
                </form>
            </td>
        </tr>
    </tbody>
    {% endfor %}

</table>
</div>

<div class="container">
<h1>confirmed: </h1>
<table class="table">
    <thead>
    <tr>
        <th>Artikel</th>
        <th>Bestelleinheiten</th>
        <th>Preis pro Einheit</th>
        <th>Anzahl</th>
        <th>Positionspreis</th>
     </tr>
    </thead>

    <tbody>
    {% for basket in baskets_saved %}
        <tr>
            <td>
                {{basket.detail.article}}
            </td>
            <td>
                {{basket.detail.order_min}}
            </td>
            <td>
                {{basket.detail.price}}
            </td>
            <td>
                {{basket.detail.supplier}}
            </td>
            <td>
                {{basket.quantity}}
            </td>
            <td>
                {{basket.confirmed}}
            </td>
            <td>
                <form action="/getbucket/" method="post">
                {%csrf_token%}
                    <input type="hidden" name="supplier" value="{{supplier.id}}" />
                    <input type="hidden" name="detail" value="{{basket}}" />
                    <button type="submit" class="btn btn-primary" name="delquantity" value="{{basket.id}}">
                        <span class="glyphicon glyphicon-list-alt"></span> delete
                    </button>
                </form>
            </td>
        <tr>
    {% endfor %}
    </tbody>
</table>









</body>
</html>