<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bucket</title>


</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/getstatus">CBSLogistic</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/getstatus">Home</a></li>
      <li><a href="/article">Artikel</a></li>
      <li><a href="/supplier">Lieferanten</a></li>
      <li><a href="/getmatrix">Wer hat was?</a></li>
      <li><a href="/order">Bestellungen</a></li>
    </ul>
  </div>
</nav>
<div class="container">
<h1>{{supplier.name}}</h1>
<table class="table">
    <thead>
    <tr>
        <th>Artikel</th>
        <th>Bild</th>
        <th>Preis</th>
        <th>Anzahl</th>
        <th>Lieferadresse</th>
        <th>Rabatt: [%]</th>
        <th>Rabatt: [abs]</th>
        <th></th>
    <tr>
    </thead>
    <tbody>
    {% for basket in baskets_unsaved %}
        <tr>
            <td>
                {{basket.detail.article.label}}
            </td>
            <td>
                {% if basket.detail.article.image %}
                <img src="{{basket.detail.article.image.url}}" width="240">
                {% endif %}
            </td>
            <td>
                {{basket.detail.price}}
            </td>
                <form class="form-inline my-2 my-lg-0" action="/getbucket/" method="post">
                    {%csrf_token%}
                    <td>{{formy.quantity}}</td>
                    <td>{{formy.address}}</td>
                    <td>{{formy.discount_abs}}</td>
                    <td>{{formy.discount_percent}}</td>

                    <input type="hidden" name="supplier" value="{{supplier.id}}" />
                    <input type="hidden" name="detail" value="{{basket}}" />
                    <td>
                    <button type="submit" class="btn btn-success" name= "savequantity" value="{{basket.id}}">

                        <span class="glyphicon glyphicon-floppy-disk"></span> save
                    </button>
                    </td>
            </form>

        </tr>
    </tbody>
    {% endfor %}

</table>
</div>

<div class="container">
<h1>confirmed: </h1>
<table class="table">
    <thead>
    <tr>
        <th>Artikel</th>
        <th>Bestelleinheiten</th>
        <th>Preis pro Einheit</th>
        <th>Anzahl</th>
        <th>Positionspreis</th>
     </tr>
    </thead>

    <tbody>
    {% for basket in baskets_saved %}
        <tr>
            <td>
                {{basket.detail.article}}
            </td>
            <td>
                {{basket.detail.order_min}}
            </td>
            <td>
                {{basket.detail.price}} €
            </td>
            <td>
                {{basket.quantity}}
            </td>
            <td>
                {% widthratio basket.quantity 1 basket.detail.price%} €
            </td>
            <td>
                <form action="/getbucket/" method="post">
                {%csrf_token%}
                    <input type="hidden" name="supplier" value="{{supplier.id}}" />
                    <input type="hidden" name="detail" value="{{basket}}" />
                    <button type="submit" class="btn btn-primary" name="delquantity" value="{{basket.id}}">
                        <span class="glyphicon glyphicon-list-alt"></span> delete
                    </button>
                </form>
            </td>
        <tr>
    {% endfor %}
    <br>

    </tbody>
</table>
    <form action="/inquery/" method="post">
        {%csrf_token%}
            <!--<input type="hidden" name="supplier" value="{{supplier.id}}" />
            <input type="hidden" name="detail" value="{{basket}}" />-->
            <button type="submit" class="btn btn-success btn-lg" name="cart" value="{{supplier.id}}">
                <span class="glyphicon glyphicon-shopping-cart"></span> SAVE
            </button>
        </form>
</body>
</html>