<!DOCTYPE html>
<html lang="en">
<head>
         <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Matrix</title>
</head>
<body>
<div class="container">
<table class="table">
    <thead>
            <td>
            <form class="form-inline my-2 my-lg-0" action="/getmatrix/" method="post">
                {%csrf_token%}
                {{formy}}
            </td>
               <!--     Article: {{formy.article}}
                <br>
                    Supp: {{formy.supplier}}
                <br>
                    Shipmet_cost: {{formy.shipment_cost}}
                <br>
                    Order_min: {{formy.order_min}}
                <br>
                    price: {{formy.price}}-->
               <td>
                <button type="submit" class="btn btn-success" name="AddArticleToSupp">
                    <span class="glyphicon glyphicon-plus"></span> add & save
                </button>
            </form>
        </td>



        <tr>
            <th>Artikel</th>
            <th>Aktuelle Liferanten</th>
            <th>aktuelle Lieferanten</th>
        </tr>
    </thead>
    <tbody>

    {% for article in articles %}
    <tr>
        <td>{{article.label}}</td>
        <td>{{article.sensor_no}}</td>
        <td>
            <form action="/getmatrix/" method="post">
                {%csrf_token%}
                    {% for detail in details %}
                        {% if detail.article == article %}
                            <button type="submit" class="btn btn-danger" name="sub" value="{{detail.id}}">
                                <span class="glyphicon glyphicon-minus"></span> {{detail.supplier}}
                            </button>
                        {% endif %}
                    {% endfor %}
            </form>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>
</body>
</html>