<!DOCTYPE html>
<html lang="en">
<head>
         <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Matrix</title>
</head>
<body>
<table class="table">
    <thead>
        <tr>
            <th>Artikel</th>
            <th>Aktuelle Liferanten</th>
            <th>aktuelle Lieferanten</th>
            <th>Suchfeld</th>
            <th>add</th>
        </tr>
    </thead>
    <tbody>

    {% for article in articles %}
    <tr>
        <td>{{article.label}}</td>
        <td>{{article.sensor_no}}</td>
        <td>
            <form action="/getmatrix/" method="post">
                {%csrf_token%}
                    {% for detail in details %}
                        {% if detail.article == article %}
                            <button type="submit" class="btn btn-danger" name="sub" value="{{detail.id}}">
                                <span class="glyphicon glyphicon-minus"></span> {{detail.supplier}}
                            </button>
                        {% endif %}
                    {% endfor %}
            </form>
        </td>
        <td>
            <form class="form-inline my-2 my-lg-0" action="/getmatrix/" method="post">
                <!--{%csrf_token%}
                <input
                        {{form}}
                        class="form-control mr-sm-2"
                        type="search"
                        placeholder="Search"
                        aria-label="Search"
                        name="search_field">
                    <button
                            class="btn btn-outline-success my-2 my-sm-0"
                            type="submit"
                            name ="search_button"> Search
                    </button>-->
                {%csrf_token%}
                    {{formx.search_term}}
            </form>
        </td>
        <td>
            <form action="/getmatrix/" method="post">
                {%csrf_token%}

                    lol
                            <button type="submit" class="btn btn-success" name="add" value="{{detail.id}}">
                                <span class="glyphicon glyphicon-plus"></span> {{matches}}
                            </button>

            </form>

        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>