<!DOCTYPE html>
<html lang="en">
<head>
     <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <meta charset="UTF-8">
    <title>{{article_edit.label}}</title>
</head>
<body>
<div class="container">

    Detail: {{instance1.article.label}}
            {{instance1.supplier.name}}
    <br>
    Preis: Detailprice{{new_price.id}}
    <br>
    Priceid: {{instance1.price.price}}

</div>
</body>
</html>